{% extends "base.html" %}
{% block content %}
    <div class="container">
    <form action="/" method="Post">
        <div class="form-group">
            <p>
                Sisesta paragrahvi viide, et näha paragrahvi tervikteksti. Kasuta formaati [paragrahvi ametlik lühend] + § + [paragrahvi number]. Näiteks: TsÜS § 8.
            </p>
            <div>
                <p>
                    {{query_field(class="form-control", rows="4")}}
                </p>
                <input type=submit value=Submit>
            </div>
        </div>
    </form>
        {% if paragraphs %}
            {% for pg in paragraphs %}
                <div>
                    {% if pg.pg_header %}
                        <p class="pg_header">
                            § {{pg.pg_number}}. {{pg.pg_header}}
                        </p>
                    {% endif %}
                    {% for sc in pg.sections %}
                        <p>
                            {% if sc.sc_number %}({{sc.sc_number}}) {% endif %}
                            {% for pt in sc.points %}
                                {% if pt.pt_number %}
                                    <p>
                                        {{pt.pt_number}}) {{pt.pt_text}}
                                    </p>
                                {% else %}
                                    {{pt.pt_text}}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}