{% extends "base.html" %}
{% block content %}
    <div class="container">
    <form action="/" method="Post">
        <div class="form-group">
            <h1>
                Sisesta juriidiline tekst
            </h1>
            <div>
                <p>
                    {{query_field(class="form-control", rows="4")}}
                </p>
                <input type=submit value=Submit>
            </div>
        </div>
    </form>
        {% if paragraphs %}
            {% for pg in paragraphs %}
                <div>
                    {% if pg.pg_header %}
                        <p class="pg_header">
                            § {{pg.pg_number}}. {{pg.pg_header}}
                        </p>
                    {% endif %}
                    {% for sc in pg.sections %}
                        <p>
                            {% if sc.sc_number %}({{sc.sc_number}}) {% endif %}
                            {{sc.sc_xml}}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}